html {
    scroll-behavior: smooth;
}

/* ------- CSS LOGOs ------- */

.logo img {
    width: 250px;
}

.logoFooter img {
    width: 250px;
}

/* ------- CSS para Header ------- */

header {
    display: block;
    background-color: #b4e197;
    position: sticky;
    top: 0px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.menu a:hover {
    color: green;
}

a:visited{
    color: green;
}

/* ------------ CSS para Slider ------------ */

.slider {
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    margin: 0px;
}

.slider li {
    width: 100%;
    list-style: none;
    height: 100%;
}

.slider img {
    width: 100%;
    display: flex;
}

@keyframes cambio {
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

/* ------- CSS para Main ------- */

.queEs {
    width: 75%;
    margin: auto;
    padding: 10px;
}

.titulo {
    display: flex;
    justify-content: center;
}

.queEs p {
    font-size: 20px;
    margin: 0px;
}

.queEs img {
    width: 50%;
    float: left;
    padding: 0px 15px;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;

}

/* ------- CSS para footer ------- */

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logoFooter {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.informacion {
    display: flex;
    flex-direction: wrap;
}

footer ol,
ul {
    padding: 0px;
    margin: 10px;
}

/* ------- CSS para crisis  ------- */

.definicionCrisis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.definicionCrisis p {
    margin-bottom: 20px;
    font-size: 20px;
}

/* ------- CSS para Form ------- */

.form {
    display: flex;
    justify-content: center;
}

.css-button-retro--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
}

form {
    width: 450px;
    margin: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    border: solid black 1px;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: solid black 1px;
}

form img {
    width: 60px;
    height: 60px;
}

/* -------  ------- */

body {
    margin: 0px;
    font-family: 'Koulen', cursive;

}

main {
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8DC26F, #76b852);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8DC26F, #76b852);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
    background-color: #b4e197;
}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
}

footer ol,
ul {
    list-style: none;
}

footer a {
    text-decoration: none;
}

/* ----------- CSS para Crisis ----------- */

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 4;
}

.div2 {
    grid-area: 1 / 4 / 3 / 7;
}

.div3 {
    grid-area: 1 / 7 / 3 / 8;
}

.div4 {
    grid-area: 3 / 4 / 6 / 8;
}

.div1 {
    background-color: #0a5cb8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 70px;
}

.div1 div {
    margin: 10px;
    text-align: center;
}

.div2 {
    background-color: #1466c3;
}

.div2 img {
    width: 100%;
    height: 100%;
}

.div3 {
    background-color: #2174d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div3 div {
    font-size: 50px;
    color: #fff;
    margin: 10px;
}

.div4 {
    background-color: #3b8eed;
}

.div4 div {
    margin: 10px;
}

@media (max-width:1300px) {
    .div3 div {
        font-size: 35px;
    }

    .div1 {
        font-size: 50px;
    }
}

@media (max-width:1000px) {
    .div3 div {
        font-size: 20px;
    }

    .div1 {
        font-size: 30px;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 3 / 1 / 4 / 4;
    }

    .div2 {
        grid-area: 1 / 1 / 3 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 3 / 4;
    }

    .div4 {
        grid-area: 4 / 1 / 6 / 4;
    }
}

@media (max-width:700px) {

    .div3 div {
        font-size: 15px;
    }

    .div1 {
        font-size: 100%;
    }

    .parent {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 250px 50px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .div2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div3 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div4 {
        grid-area: 3 / 1 / 4 / 3;
    }
}